.titulo{
    text-align: center;
    color: #2294B3;
}

.margen{
    margin: 2%;
}

.headerTable {
    background-color: #2294B3;
    color: white;
    text-align: left;
    font-size: 14px;
}

table {
    text-align: justify;
    margin: auto;
    width: 100%;
}

.botones{
    background: #2294B3; 
    color: white; 
    outline: none;
    width: 150px;
    height: 45px;
}


::ng-deep .cdk-overlay-container{
    z-index: 1200 !important;
}